<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
        layout:decorate="/layout/layout"
>
<th:block layout:fragment="content">
    <div class="form-signin w-100 m-auto">
        <form class="loginForm" action="/member/login" method="post">
            <h1 class="h3 mb-3 fw-normal">로그인</h1>
            <div class="form-floating">
                <input type="email" name="memberEmail" class="form-control" id="floatingInput" placeholder="email">
                <label for="floatingInput">email</label>
            </div>
            <div class="form-floating">
                <input type="password" name="memberPassword" class="form-control" id="floatingPassword" placeholder="password">
                <label for="floatingPassword">password</label>
            </div>
            <button class="btn btn-primary w-100 py-2" type="submit">로그인</button>
        </form>
    </div>
</th:block>