<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
        layout:decorate="/layout/layout"
>
<th:block layout:fragment="content">
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">프로젝트검색</h1>
            </div>
        </div>
    </section>
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <a href="/project/write" type="button" class="btn btn-primary btn-lg" style="margin-bottom: 20px">New
                Board</a>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <tr th:each="board, idx: ${boardList}">
                    <div class="col">
                        <div class="card shadow-sm">
                            <img width="100%" height="225"
                                 th:src="@{${board.getThumbnailImgPath()}}"
                            >
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">
                                <span th:text="${board.getTitle()}"></span>
                            </text>
                            </img>
                            <div class="card-body">
                                <p class="card-text">
                                    <span th:text="${board.getContent()}"></span>
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary">상세</button>
                                    </div>
                                    <small class="text-body-secondary">
                                        <span th:text="${board.getId()}"></span>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
            </div>
        </div>
    </div>
</th:block>
</html>